    header {
      display: flex;
      justify-content: space-between;
      background-color: #0D55A9;
      border-bottom:10px solid black;
      padding: 10px 20px;
     
      
    }
       a{ 
        display: inline-flex;
        align-items: center;
        color: white;
        font-size: 20px;
        font-family: "Fira Code", Arial, Helvetica , sans-serif;
        font-weight: 500;
        text-decoration: none;
        margin-right: 30px;
        
    }

    a::before {
      content: "";
      background-color: #030B1D;
      width: 10px;
      height: 10px;
      margin-right: 10px;
    }

    a:hover {
              -ms-transform: scale(1.15);
              transform: scale(1.15);
      }
    nav {
        text-align: right;
    }


  #button {
    display: inline-block;
    background-color:#030B1D ;
    box-shadow: 5px 5px #076bcf;
   
    
  }
 