.card-projects {
    background-color: black;
    display: flex;
    justify-content: space-around;
    width: 220px;
    height: 220px;
    box-shadow: 5px 5px 2px #4C5B84;
}

.card-projects.-blue{
    background-color:#4C5B84 ;
}
.card-projects img{
    height: 215px;
 }
