.main-title {
    font-family:'Press Start 2P', sans-serif;
    font-size: 40px; ;
    color: #8c8ce2;
    margin-right: 0;
    text-shadow: 04px 03px 0  black;
    
  }
  .main-title.-second{
    color: white;
    text-shadow: none;
    text-align: center;
    text-shadow: -1px -1px 0 black,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000 ;

  }
  .main-title.-third{
    color: white;
    text-shadow: none;
    text-align: justify;
    text-shadow: -1px -1px 0 black,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000 ;
  }
